name: Deploy ERP to Staging Server

on:
    pull_request:
        branches:
            - stage
        paths-ignore: ["docs/**"]

    push:
        branches:
            - stage
        paths-ignore: ["docs/**"]

concurrency:
    group: ${{ github.head_ref || github.run_id }}
    cancel-in-progress: true

jobs:
    deploy:
        runs-on: ubuntu-latest
        # needs: [build-test-job]
        environment: stage
        if: ${{ github.event_name == 'push' }} # will be fired if the trigger event is a push event.

        steps:
            - name: Checkout Code Repository
              uses: actions/checkout@v3
              with:
                  ref: stage

            - name: Copy repo files to server
              uses: appleboy/scp-action@master
              with:
                  host: ${{ secrets.SSH_DEV_HOST }}
                  username: ${{ secrets.SSH_DEV_USERNAME }}
                  password: ${{ secrets.SSH_DEV_PASSWORD }}
                  port: 22
                  timeout: 120s
                  source: "."
                  target: "~/frappe-docker"

            - name: Build and Deploy the Stack
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.SSH_DEV_HOST }}
                  username: ${{ secrets.SSH_DEV_USERNAME }}
                  password: ${{ secrets.SSH_DEV_PASSWORD }}
                  port: 22
                  timeout: 600s
                  script: |
                      cd ~/frappe-docker
                      sudo docker compose -f docker-compose.yml down
                      sudo docker compose -f docker-compose.yml build
                      sudo docker compose -f docker-compose.yml up -d --no-deps --build --force-recreate --remove-orphans
